body{color:darkred; background-color:#f5d6b5;margin-left: auto}
h1{color:#8a3f2b;}
ul{color:#8a3f2b;text-transform:capitalize;}
ul{font-family:tahoma;font-style:italic;}
ol{font-size:20px;}
p{font-style:italic;color:darkred;}
a{color:darkred;font-family:sans-serif;background-color:#deb1ad; }